#main-navbar-toggler {
    border: none;
}


.ticket-forms {
    margin-left: 15%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.ticket-forms label{
    margin:5px 10px 5px 0;

}

.departureDate{
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.arrivalDate{
    margin-left: 7%;
}

.departTime{
    margin-left: 9.9%;
}

.departTime2{
    margin-left: 10%;
}

.check-boxes{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left:20%;
    margin-top: 10%;
}

.ticket-section{
    background-color: white;
    margin-left: 15%;
    width: 1000px;
    height: 500px;
}

#dropdownMenuButton2{
    margin-left: 3%; 
}

.button{
    padding: 10px 20px;
    margin-left: 40%;
    margin-top: 10%;
    width: 200px;
    height: 50px;
    background-color:black;
    border: none;
    color:white;
    cursor: pointer;
}

.ticket-forms input{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    border: 1px solid black;
}

#footer {
    background-color: rgb(252, 252, 252);
    padding: 1em;
}
#footer .container {
    text-align: center;
}