<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src ="Departure function.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>database</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Jihyound</a>
        <button id="main-navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class = "ticket-section"> 
        <form class = "check-boxes">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" onclick="hideDeparture()">
                <label class="form-check-label" for="inlineRadio1">One Way</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" checked="checked" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="showDeparture()">
                <label class="form-check-label" for="inlineRadio2">Round-Trip</label>
            </div>
        </form>
        <form class="ticket-forms">
            <div class = "dropdown">
                <label for="departure">Departure: </label>
                <input type="departure" id ="departure" placeholder ="Select your departure...">
                <label for="destination">Destination: </label>
                <input type="destination" id="destination" placeholder = "Select your destination...">
                <button class = "btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adult</button>
                <div class = "dropdown-menu" 
                aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                </div>
                <button class = "btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Child</button>
                <div class = "dropdown-menu" 
                aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                </div>
            </div>    
        </form>

        <form class = "departureDate">
            <div class ="departureDate">
                <label for="departure-date">Departing On: </label>
                <input type="date" id = "departure-date" placeholder="Departure Date...">
                <label class ="departTime" for="departure-time">Time: </label>
                <input type="datetime" id = "departure-time" placeholder="Time...">
                <button class = "btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Senior</button>
                <div class = "dropdown-menu" 
                aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                </div>
            </div>
        </form>

        <form class = "arrivalDate">
            <div id='div1' class = "arrivalDate">
                <label for="arrival-date">Returning On:</label>
                <input type="date" id="arrival-date" placeholder="Return Date...">
                <label class ="departTime2" for="arrival-time">Time: </label>
                <input type="arrival-time" id = "arrival-time" placeholder="Time...">
            </div>
        </form>
        
        <div class = "dropdown">
            <button class="button" type="Search">Search</button>
        </div>
    </div>

    <div id="footer">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Linkedin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Instagram</a>
                </li>
            </ul>
            <div class="container">
                Developed and designed by <strong>Jihyo, Ethan and Taryn</strong> in 2019
            </div>
        </div>
</body>

</html>