<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>database</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">jihyound</a>
        <button id="main-navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mb-2 mt-2" id="main-container">
        <div>
            <h4 class="text-center mb-5">Your Current Itinerary</h4>
        </div>
        <div class="list-group mb-5">
            <div href="#" class="list-group-item">
                <h5 class="destinaton">From <span>Vancouver</span> to <span>Seattle</span></h5>
                <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1">
                        <span class="departing-time"><small>Departing at </small><strong class="mr-2">8:00AM</strong></span>
                        <span class="arriving-time"><small>Arriving at </small><strong>9:30AM</strong></span>
                    </span>
                </div>
                <div class="travel-time">Travel time: <strong>1h 30m</strong></div>
                <div class="transfers">Transfers: <strong>0</strong></div>
                <div class="stops">Stops: 1</div>
                <div class="fare">Fare: <strong>$57.66</strong></div>
            </div>
        </div>
        <h4 class="text-center mb-5">Payment Method</h4>
        <div id="payment-method">
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                        checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Paypal
                    </label>
                    <img id="paypal-img" class="ml-4" src="../static/images/paypal.png" alt="">
                    <div id="paypal-info-text" class="mt-2 mb-2 py-4">
                        You will be directed to the PayPal site to complete payment after reviewing your order details.
                        Please note that PayPay orders cannot be updated after checkout.
                    </div>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Credit Cards
                    </label>
                    <img id="visamastercard-img" class="ml-4" src="../static/images/visamastercard.png" alt="">
                </div>
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cardnumber">Card Number</label>
                            <input type="text" class="form-control" id="cardnumber" placeholder="Card Number">
                        </div>
                        <div class="form-group">
                            <label for="cvcnumber">CVC Number</label>
                            <input type="password" class="form-control" id="cvcnumber" placeholder="CVC">
                        </div>
                        <div class="mb-2">Expiration Date</div>
                        <div class="form-row mb-2">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Month">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Date">
                            </div>
                        </div>
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll send you the receipt to this email.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div id="footer">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Instagram</a>
            </li>
        </ul>
        <div class="container">
            Developed and designed by <strong>Jihyo, Ethan and Taryn</strong> in 2019
        </div>
    </div>
</body>

</html>